/***********************File Imports**************/
@import url("bootstrap.css");

/***********************File Imports**************/
/**************************************************/
/***************************landing section*******/

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}

#landing-page{
    background-image: url("images/background/h_img.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
#landing-page .welcome-head h1{
    font-size: 50px;
}
.logo{
    text-align: center;
    padding-top: 190px;
}
.welcome-head{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.welcome-head span{
    padding-bottom: 20px;
    display: block;
}
.tag{
    color: #fff;
    text-transform: uppercase;
    display: inline-flex;
}
.tagline{
    text-align: center;

}
.mouse-up-down{
    padding-top: 150px;
    text-align: center;
}
/***************************landing section*******/
/**************************************************/

/***************************About section*******/
/**************************************************/
#about-us{
    width: 100%;
}
.about{
    padding-top: 40px;
    padding-bottom: 48px;
}
.about{
    text-align: center;
}
.para1{
    display: block;
}
/***************************Services section*******/
/**************************************************/
#services{
    background-image: url("images/background/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services{
    padding-top: 190px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
.services-head{
    padding-top: 0px;
}
.services .title{
    text-align: center;
    text-transform: uppercase;
}
.services .title .details1,.details2{
    padding-bottom: 120px;
}
/*******************************************************************
/********************WHAT WE DO SECTION********************************************/
.what-we-do-head{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
#what-we-do{
    width: 100%;
    padding-bottom: 0%;
}
#col1{
    text-align: center;
}
#col2{
    text-align: center;
}
#col3{
    text-align: center;
}
.caption{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
/*******************************************************************
/********************PORTFOLIO SECTION********************************************/
#portfolio{
    width: 100%;
    height: 30%;
    padding-bottom: 50%;
}
.portfolio-head{
    text-align: center;
    text-transform: uppercase;
}
#row2{
    padding-top: 20px;
}
/*******************************************************************
/********************CONTACT US SECTION********************************************/
#contact{
    background: url("images/background/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.form{
    text-align: center;
    padding-top: 0px;
}
.contact-head{
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: lighter;
    color: #fff;
}
::placeholder{
    color: #fff;
    padding-left: 20px;
}
input{
    width: 490px;
    font-weight: bolder;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
#textarea{
    padding-top: 30px;
}
textarea{
    background: none;
    border: 1px solid #fff;
    font-weight: bolder;
    color: #fff;
}
/*******************************************************************
/********************SOCIAL MEDIA ICONS SECTION********************************************/
#social-icon{
    padding-top: 80px;
    padding-bottom: 10px;
    width: 100%;
}

.icons{
    text-align: center;
}
.tagline{
    padding-top: 30px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.tagline span{
    display: block;
    
}

@media screen and (max-width: 1000px) {
    .logo{
        text-align: center;
        padding-top: 280px;
    }
    .welcome-head{
        text-align: center;
        color: #fff;
        padding-top: 20px;
    }
    .welcome-head span{
        padding-bottom: 0px;
    }
    .tag{
        font-size: 12px;
    }
    
    .mouse-up-down{
        padding-top: 150px;
        text-align: center;
    }
    /*******/
    #landing-page{
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #services{
        background-size: 100% 100%;
    }

    #what-we-do{
        font-size: 14px;
        line-height: 14px;
    }
    .caption{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    
    #portfolio{
        padding-bottom: 50%;
    }
    
    input{
        width: 200px;
    }
    textarea{
        width: 200px;
        height: 80%;
    }
    #social-icon{
        padding-top: 60px;
    }
    .icons img{
        display: inline;
    }
    #contact{
        background-size: 100% 100%;
    }
}
