/***********************File Imports**************/
@import url("bootstrap.css");

/***********************File Imports**************/
/**************************************************/
/***************************landing section*******/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

#landing-page{
    background-image: url("images/background/h_img.jpg");
    background-size: cover;
    background-position: center;
}
.logo{
    text-align: center;
    padding-top: 190px;
}
.welcome-head{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
}
.welcome-head span{
    display: block;
}
.tagline{
    text-align: center;
}
.mouse-up-down{
    padding-top: 150px;
    text-align: center;
}
/***************************landing section*******/
/**************************************************/