/***********************File Imports**************/
@import url("bootstrap.css");

/***********************File Imports**************/
/**************************************************/
/***************************landing section*******/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
.container{
    width: 100%;
}

#landing-page{
    background-image: url("images/background/h_img.jpg");
    background-size: cover;
    background-position: center;
}
.logo{
    text-align: center;
    padding-top: 190px;
}
.welcome-head{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
}
.welcome-head span{
    display: block;
}
.tagline{
    text-align: center;
}
.mouse-up-down{
    padding-top: 150px;
    text-align: center;
}
/***************************landing section*******/
/**************************************************/

/***************************About section*******/
/**************************************************/

.container .about{
    padding-top: 40px;
    padding-bottom: 48px;
}
.about{
    text-align: center;
}
.para2 span{
    display: block;
}

/***************************Services section*******/
/**************************************************/
#services{
    background-image: url("images/background/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services{
    padding-top: 190px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
.services-head{
    padding-top: 0px;
}
.services .title{
    position: absolute;
    top: 148%;
    left: 45%;
    text-transform: uppercase;
}
.services .title .details1,.details2{
    padding-bottom: 120px;
}

.what-we-do-head{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.icon{
    padding-top: 10px;
    display: inline-flex;
}
.icon3{
    position: absolute;
    left: 75%;
}
.icon2{
    position: absolute;
    left: 45%;
}
.icon1{
    position: absolute;
    left: 10%;
}