/***********************File Imports**************/
@import url("bootstrap.css");

/***********************File Imports**************/
/**************************************************/
/***************************landing section*******/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
.container{
    width: 100%;
    
}

#landing-page{
    background-image: url("images/background/h_img.jpg");
    background-size: cover;
    background-position: center;
}
.logo{
    text-align: center;
    padding-top: 190px;
}
.welcome-head{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
}
.welcome-head span{
    display: block;
}
.tagline{
    text-align: center;
}
.mouse-up-down{
    padding-top: 150px;
    text-align: center;
}
/***************************landing section*******/
/**************************************************/

/***************************About section*******/
/**************************************************/

.about{
    padding-top: 40px;
    padding-bottom: 48px;
}
.about{
    text-align: center;
}
.para2 span{
    display: block;
}

/***************************Services section*******/
/**************************************************/
#services{
    background-image: url("images/background/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services{
    padding-top: 190px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
.services-head{
    padding-top: 0px;
}
.services .title{
    position: absolute;
    top: 148%;
    left: 45%;
    text-transform: uppercase;
}
.services .title .details1,.details2{
    padding-bottom: 120px;
}
/*******************************************************************
/********************WHAT WE DO SECTION********************************************/
.what-we-do-head{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
#what-we-do{
    height: 80vh;
}
#col1{
    text-align: center;
}
#col2{
    text-align: center;
}
#col3{
    text-align: center;
}
.caption{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
/*******************************************************************
/********************PORTFOLIO SECTION********************************************/
#portfolio{
    padding-bottom: 50px;
    
}
.portfolio-head{
    position: absolute;
    top: 275%;
    left: 45%;
}
#row2{
    padding-top: 20px;
}
/*******************************************************************
/********************CONTACT US SECTION********************************************/
#contact{
    background: url("images/background/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.form{
    text-align: center;
    padding-top: 40px;
}
.contact-head{
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: lighter;
    color: #fff;
}
::placeholder{
    color: #fff;
    padding-left: 20px;
}
input{
    width: 490px;
    font-weight: bolder;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
#textarea{
    padding-top: 30px;
}
textarea{
    background: none;
    border: 1px solid #fff;
    font-weight: 300;
    font-weight: bolder;
    color: #fff;
}
/*******************************************************************
/********************SOCIAL MEDIA ICONS SECTION********************************************/
#social-icon{
    padding-top: 80px;
    padding-bottom: 10px;
}
#social-icon .container .row .col{
    display: block;
}
.tagline{
    padding-top: 30px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}
.tagline span{
    display: block;
}
